pandas
numpy
nltk
spacy
gensim
scikit-learn
scipy
networkx
pyvis
wordcloud
matplotlib
seaborn
jsonlines
pyLDAvis
textblob
fastcluster
hdbscan
openpyxl

pip install pandas numpy nltk spacy gensim scikit-learn scipy networkx pyvis wordcloud matplotlib seaborn jsonlines pyLDAvis textblob fastcluster hdbscan openpyxl